# compiled output
mall_be_ty/dist
mall_be_ty/node_modules

mall_be_ty/.env

# Logs
mall_be_ty/logs
mall_be_ty/*.log
mall_be_ty/npm-debug.log*
mall_be_ty/pnpm-debug.log*
mall_be_ty/yarn-debug.log*
mall_be_ty/yarn-error.log*
mall_be_ty/lerna-debug.log*

# OS
mall_be_ty/.DS_Store

# Tests
mall_be_ty/coverage
mall_be_ty/.nyc_output

# IDEs and editors
mall_be_ty/.idea
mall_be_ty/.project
mall_be_ty/.classpath
mall_be_ty/.c9/
mall_be_ty/*.launch
mall_be_ty/.settings/
mall_be_ty/*.sublime-workspace

# IDE - VSCode
mall_be_ty/.vscode/*
mall_be_ty/!.vscode/settings.json
mall_be_ty/!.vscode/tasks.json
mall_be_ty/!.vscode/launch.json
mall_be_ty/!.vscode/extensions.json

# Logs
mall/logs
mall/*.log
mall/npm-debug.log*
mall/yarn-debug.log*
mall/yarn-error.log*
mall/pnpm-debug.log*
mall/lerna-debug.log*

mall/node_modules
mall/dist
mall/dist-ssr
mall/*.local

# Editor directories and files
mall/.vscode/*
mall/!.vscode/extensions.json
mall/.idea
mall/.DS_Store
mall/*.suo
mall/*.ntvs*
mall/*.njsproj
mall/*.sln
mall/*.sw?

# Logs
mall_vendor/logs
mall_vendor/*.log
mall_vendor/npm-debug.log*
mall_vendor/yarn-debug.log*
mall_vendor/yarn-error.log*
mall_vendor/pnpm-debug.log*
mall_vendor/lerna-debug.log*

mall_vendor/node_modules
mall_vendor/dist
mall_vendor/dist-ssr
mall_vendor/*.local

# Editor directories and files
mall_vendor/.vscode/*
mall_vendor/!.vscode/extensions.json
mall_vendor/.idea
mall_vendor/.DS_Store
mall_vendor/*.suo
mall_vendor/*.ntvs*
mall_vendor/*.njsproj
mall_vendor/*.sln
mall_vendor/*.sw?

# Logs
mall_admin/logs
mall_admin/*.log
mall_admin/npm-debug.log*
mall_admin/yarn-debug.log*
mall_admin/yarn-error.log*
mall_admin/pnpm-debug.log*
mall_admin/lerna-debug.log*

mall_admin/node_modules
mall_admin/dist
mall_admin/dist-ssr
mall_admin/*.local

# Editor directories and files
mall_admin/.vscode/*
mall_admin/!.vscode/extensions.json
mall_admin/.idea
mall_admin/.DS_Store
mall_admin/*.suo
mall_admin/*.ntvs*
mall_admin/*.njsproj
mall_admin/*.sln
mall_admin/*.sw?


# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
mall_mobile/node_modules/

# Expo
mall_mobile/.expo/
mall_mobile/dist/
mall_mobile/web-build/

# Native
mall_mobile/*.orig.*
mall_mobile/*.jks
mall_mobile/*.p8
mall_mobile/*.p12
mall_mobile/*.key
mall_mobile/*.mobileprovision

# Metro
mall_mobile/.metro-health-check*

# debug
mall_mobile/npm-debug.*
mall_mobile/yarn-debug.*
mall_mobile/yarn-error.*

# macOS
mall_mobile/.DS_Store
mall_mobile/*.pem

# local env files
mall_mobile/.env*.local

# typescript
mall_mobile/*.tsbuildinfo

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

mall_mobile/expo-env.d.ts
# @end expo-cli
